@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

.App {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid black;
  border-radius: 0.5rem;
  color: white;
  background-image: linear-gradient(to right, #283c86, #45a247);
}

body {
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

input {
  border-style: none;
  padding: 0.5rem;
  margin: 0.5rem 7rem;
}

button {
  border-style: none;
  padding: 0.5rem;
  margin: 0.5rem 7rem;
  color: white;
  background: black;
}
